*{
  background: #C1C1FC;
  font-family: 'DM Sans', sans-serif;
  font-weight: 300;
  font-size: 26px;
}

.logo{
  padding-top: 10px;
  margin-left: 10px;
  width: 8%;
}

.titulo{
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
  display: inline-flex;
  padding-bottom: 10px;
  margin: 30px 0 10px 1px;
}

main{
  display: flex;
  margin-left: 120px;
}

.text-area{
  width: 500px;
  height: 280px;
  border: none;
  color: #12128A;
  margin-top: 10px;
  padding: 8px;
  text-transform: lowercase;
}
::placeholder{color: #0A3871;}
  .text-area:focus{
    outline: none;
  }

.mensaje{
  top: 30px;
  width: 450px;
  background: white;
  background-image: url("imagenes/found.png");
  background-repeat: no-repeat;
  background-position: top;
  background-position-x: 45px;
  background-position-y: 15px;
  border: none;
  border-radius: 20px;
  color: #0A3871;
  margin-left: 70px;
  padding-bottom: 50px;
  position: absolute;
}

mensaje:focus{
  outline: none;
}

.botones{
  display: flex;
}

.encriptar {
    background: #E0A2F3;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 50px;
    margin-left: 1px;
    width: 280px;
    transition: 1s all;
}

.encriptar:hover{
  background: #C524F6;
  transform: scale(1.05);
}

.decrypt {
    background-color: #65B0F2;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 50px;
    margin-left: 3px;
    width: 280px;
    transition: 1s all;
}

.decrypt:hover{
  background: #2B74B5;
  transform: scale(1.05);
}

.copiar {
    background-color: #A1FF92;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 50px;
    margin-top: 60px;
    margin-left: 130px;
    position: absolute;
    width: 280px;
    transition: 1s all;
}

.copiar:hover{
  background: #29B912;
  transform: scale(1.05);
}

.aviso{
  color: black;
  font-size: 17px;
  margin-top: 68px;
}

footer{
  text-align: center;
  padding-top: 60px;
  margin-top: 30px;
}

.copyright{
  font-size: 20px;
}